*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-container{
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}
.slide {
    display: none;
}
.slide img{
    width: 100%;
}

.slideIndex {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/**/
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*当鼠标Hover时，背景色改变，提升用户体验*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dotGroup{
    text-align: center;
    position: relative;
    margin-top: -30px;
}
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active, .dot:hover {
    background-color: #717171;
}